.nav-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: -40px;
    z-index: 1;
}
.nav-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    animation: 0.5s fadeIn;
}